<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理系统</title>
<link rel="stylesheet" href="/js/layui/css/layui.css">
<script src="/js/layui/layui.js"></script>
</head>
<body>
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">ID</label>
			<div class="layui-input-inline">
				<input type="text" id="userIdEdit" name="userId" placeholder="请输入"
					autocomplete="off" class="layui-input"
					th:value="${userInfo.userId}" readonly>
			</div>
			<label class="layui-form-label">姓名</label>
			<div class="layui-input-inline">
				<input type="text" id="userNameEdit" name="userName"
					placeholder="请输入" autocomplete="off" class="layui-input"
					th:value="${userInfo.userName}">
			</div>
		</div>

	</form>


</body>
</html>