<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理系统</title>
<link rel="stylesheet" href="/js/layui/css/layui.css">
<script src="/js/layui/layui.js"></script>

<style type="text/css">
.container {
	padding: 20px;
}
</style>
</head>
<body>
	<div class="container">
		<form class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">菜单ID</label>
				<div class="layui-input-inline">
					<input type="text" id="id" name="id" placeholder="请输入"
						autocomplete="off" class="layui-input"
						th:value="${menuInfoVo.id}" readonly>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">标题</label>
				<div class="layui-input-inline">
					<input type="text" id="title" name="title" placeholder="请输入"
						autocomplete="off" class="layui-input"
						th:value="${menuInfoVo.title}">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">URL</label>
				<div class="layui-input-inline">
					<input type="text" id="url" name="url" placeholder="请输入"
						autocomplete="off" class="layui-input"
						th:value="${menuInfoVo.url}">
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="submit" class="layui-btn" lay-submit
						lay-filter="submitButton">保存</button>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		layui.config({
			dir : '/js/layui/'
		})

		layui.use([ 'form', 'jquery', 'layer' ], function() {
			var $ = layui.jquery, form = layui.form, layer = layui.layer;
			//监听提交
			form.on('submit(submitButton)', function(data1) {
				$.ajax({
							url : "/menu/detail/edit/submit",
							contentType : 'application/json',
							data : JSON.stringify({
								"id" : $("#id").val(),
								"title" : $("#title").val(),
								"url" : $("#url").val()
							}),
							type : "POST",
							dataType : "json",
							success : function(data2) {
								if (data2.code == 0) {
									layer.msg('保存成功', {
										icon : 1,
										time : 2000
									//2秒关闭（如果不配置，默认是3秒）
									});
								} else {
									layer.alert(data2.msg, function() {
										layer.closeAll();//关闭所有弹框
									});
								}
							}
						});
				return false;
			});

		});
	</script>

</body>
</html>