<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head>
<link rel="stylesheet" href="/js/layui/css/layui.css" media="all"></link>
<script src="/js/layui/layui.js" charset="utf-8"></script>
<style type="text/css">
.container {
	width: 400px;
	height: 220px;
	min-height: 220px;
	max-height: 220px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	padding: 20px;
	z-index: 130;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 3px 18px rgba(100, 0, 0, .5);
	font-size: 16px;
}
</style>
</head>
<body>
	<div class="container">
		<div>系统登录</div>
		<hr>
		<form class="layui-form" action="" id="loginForm" >
			<div class="layui-form-item">
				<label class="layui-form-label">输入框</label>
				<div class="layui-input-block">
					<input type="text" name="userId" lay-verify="required"
						placeholder="请输入登录账号" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">密码框</label>
				<div class="layui-input-inline">
					<input type="password" name="password" lay-verify="required"
						placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="submitButton">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		layui.use([ 'form', 'jquery' ], function() {
			var $ = layui.jquery, form = layui.form, layer = layui.layer;

			// 登录过期的时候，跳出ifram框架
			//if (top.location != self.location) top.location = self.location;

			// 进行登录操作
			form.on('submit(submitButton)', function(data) {
				data = data.field;
				$.ajax({
					url : "/login",
					contentType : 'application/json',
					data : JSON.stringify({
						"userId" : data.userId,
						"password" : data.password
					}),
					type : "POST",
					dataType : "json",
					success : function(data) {
						if (data.code == 0) {
							window.location.href = "/home";
						} else {
							layer.alert(data.msg, function() {
								layer.closeAll();//关闭所有弹框
							});
						}
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>