<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>后台管理系统</title>
<link rel="stylesheet" href="/js/layui/css/layui.css">
<script src="/js/layui/layui.js"></script>
</head>
<body>
	<form class="layui-form" id="form1">
		<div class="layui-form-item">
			<label class="layui-form-label">角色ID</label>
			<div class="layui-input-inline">
				<input type="text" name="roleId" placeholder="请输入"
					autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label">角色名称</label>
			<div class="layui-input-inline">
				<input type="text" name="roleName" placeholder="请输入"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-block">
      				<select name="state">
        				<option value="">全部</option>
        				<option value="1">有效</option>
        				<option value="0">无效</option>
      				</select>					
				</div>
		</div>		

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="submit" class="layui-btn" lay-submit lay-filter="submitButton">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				<button class="layui-btn" lay-submit lay-filter="newButton">新增</button>
			</div>
		</div>
	</form>
	<table id="tableEle" class="layui-table" lay-filter="tableEle">	
	</table>
	<div id="tablePage"></div>

	<script type="text/html" id="tableButton">
		<a class="layui-btn layui-btn-xs" lay-event="check">查看</a>
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>

	<script>
		//Demo
		layui.use([ 'form','jquery','table','laypage','util'],function() {
				var $ = layui.jquery, 
				form = layui.form, 
				layer = layui.layer, 
				table = layui.table,
				laypage = layui.laypage,
				util = layui.util;

				var pageSize=10,pageNum=1;
				var roleId,roleName,state;
				
				//监听提交
				form.on('submit(submitButton)', function(data1) {
					data1 = data1.field;
					roleId=data1.roleId;
					roleName=data1.roleName;
					state=data1.state;
					doPage(pageSize,pageNum,roleId,roleName,state);
					return false;
				});
				
				form.on('submit(newButton)', function(data1) {
					  layer.open({
						  type: 2,
						  fixed: true,
						  content: '/role/detail/new?', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
						  skin: 'layui-layer-molv',
						  area: ['500px', '300px']
					  }); 
					return false;
				});
				
				function doPage(pageSize,pageNum,roleIdParam,roleNameParam,stateParam){
					roleId=roleIdParam;
					roleName=roleNameParam;
					state=stateParam;
					$.ajax({
						url : "/role/list/query",
						contentType : 'application/json',
						data : JSON.stringify({
							"pageSize" : pageSize,
							"pageNum" : pageNum,
							"condition" : {
								"roleId" : roleId,
								"roleName" : roleName,
								"state" : state
							}
						}),
						type : "POST",
						dataType : "json",
						success : function(data2) {
							if (data2.code == 0) {
								//第一个实例
								table.render({
									elem : '#tableEle',
									height : 312,
									//page: true,
									//标题栏
									cols : [
											[{field: 'roleId', title: 'ID'}
									    	,{field: 'roleName', title: '用户名'}
									    	,{fixed: 'right', width:200, align:'center', toolbar: '#tableButton'}
									  		]
										],
									data : data2.list
								});
								//执行一个laypage实例
								laypage.render({
									elem: 'tablePage', //注意，这里的 test1 是 ID，不用加 # 号
									count: data2.total, //数据总数，从服务端得到
									curr: data2.pageNum,
									jump: function(obj, first){
									    //首次不执行
									    if(!first){
									    	//doPage(obj.limit,obj.curr,roleId,roleName);
									    	pageSize=obj.limit;
									    	pageNum=obj.curr;
									    	doPage(pageSize,pageNum,roleId,roleName,state);
									    }
									  }
								});
									
							} else {
								layer.alert(data2.msg, function() {
									layer.closeAll();//关闭所有弹框
								});
							}
						}
					});
				}
		
				table.on('tool(tableEle)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
					  var data1 = obj.data; //获得当前行数据
					  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
					  var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
					  
					  if(layEvent === 'check'){ //查看
						  layer.open({
							  type: 2,
							  fixed: true,
							  content: '/role/detail/check?roleId='+data1.roleId, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
							  skin: 'layui-layer-molv',
							  area: ['500px', '300px']
						  }); 
					  }else if(layEvent === 'edit'){ //编辑
						  layer.open({
							  type: 2,
							  fixed: true,
							  content: '/role/detail/edit?roleId='+data1.roleId, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
							  skin: 'layui-layer-molv',
							  area: ['500px', '300px']
						  }); 

					  }else if(layEvent === 'del'){ //删除
						    layer.confirm('真的删除行么', function(index){
							      //obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
							      //layer.close(index);
							      //向服务端发送删除指令
							      $.ajax({
										url : "/role/detail/del/submit",
										contentType : 'application/json',
										data : JSON.stringify({
												"roleId" : data1.roleId
										}),
										type : "POST",
										dataType : "json",
										success : function(data2) {
													if (data2.code == 0) {
														doPage(pageSize,pageNum,roleId,roleName);
														layer.msg('删除成功', {
															icon : 1,
															time : 2000
														//2秒关闭（如果不配置，默认是3秒）
														});
													} else {
														layer.alert(data2.msg, function() {
															layer.closeAll();//关闭所有弹框
														});
													}
										}
								  });
							    });
						}
					});
				
			});
		

	</script>
</body>
</html>